<div class="container">

    <div class="image">
        <img src="assets/yes-s.png" alt="">
    </div>
    <div class="content">
            <div>
                <header><h2>Login</h2></header>
            </div>
 
            <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <ng-template [ngIf]="message">
                    <p class="error"> {{ message }}</p>
                </ng-template>
                <div class="form-group">
                    <label for="email"><h5>Email address</h5></label>
                    <input type="email" required ngModel class="form-control"  formControlName="email" placeholder="Enter email address" id="email">
                </div>

                <div class="form-group">
                    <label for="password"><h5>Password</h5></label>
                    <input type="password"  required class="form-control"  formControlName="password"  placeholder=" Enter password" id="password">
                    <input type="password"   formControlName=" forgot password"  placeholder=" Forgot password?" id="pass"><br/>
                </div>
                <div>
                    <button [disabled]="!loginForm" class="btn btn-primary" type="submit">
                        <ng-template [ngIf]="loading">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                width="60px" height="10px" viewBox="0 0 80 20">
                                <circle cx="10" cy="10" r="10" fill="#fff" >
                                    <animate attributeName="cx" from="10" to="40" dur="0.5s" calcMode="spline" keySplines="0.42 0 0.58 1" keyTimes="0;1" repeatCount="indefinite" />
                                </circle>
                                <circle cx="10" cy="10" r="0" fill="#fff">
                                    <animate attributeName="r" from="0" to="10" dur="0.5s" calcMode="spline" keySplines="0.42 0 0.58 1" keyTimes="0;1" repeatCount="indefinite" />
                                </circle>
                                <circle cx="40" cy="10" r="10" fill="#fff">
                                    <animate attributeName="cx" from="40" to="70" dur="0.5s" calcMode="spline" keySplines="0.42 0 0.58 1" keyTimes="0;1" repeatCount="indefinite" />
                                </circle>
                                <circle cx="70" cy="10" r="10" fill="#fff">
                                    <animate attributeName="r" from="10" to="0" dur="0.5s" calcMode="spline" keySplines="0.42 0 0.58 1" keyTimes="0;1" repeatCount="indefinite" />
                                </circle>
                            </svg>
                        </ng-template>
                        <ng-template [ngIf]="!loading">
                            LOGIN
                        </ng-template>
                    </button><br><br>
                </div>
                <div id="signup"> 
                    <a routerLink="/signup" >New user? Sign Up</a>
                </div>
            </form>  
            
    </div>
</div>
