$mycolor: hsl(17, 100%, 50%);
$fontfamily: Arial, Helvetica, sans-serif;

.container{
    position: static;  
}
.image{
    text-align: center;
    margin-bottom: 10px;
}
img{
    height: 80px;
    margin-top: -50px;
}
.frm input {
width: 173%;
font-family: $fontfamily;
font-size: 11px;
height: 10px;
text-decoration-color: none;
opacity: 1;
background: hsl(90,100%, 200%);
border-style: ridge;
padding: 7px;
margin-top: 0;
}
input{
    opacity: -500px;
    border-color: hsl(90,100%, 200%);
}
h5{
    font-family: $fontfamily;
    opacity: 10px;
    font-size: 11px;
    margin-bottom: 0;
    
}
#pa{
    font-family: $fontfamily;
    font-size: 11px;
}
mat-card{
    width: 330px;
    max-height: 500px;
    padding-top: 0px;
    margin: auto;
    font-family: $fontfamily;
    font-size: 12px;
    background: hsl(90,100%, 200%);
   
}
header{
    text-align: center;
    padding-top: 20px;
}
#pass{
   
    padding-left: 0;
    font-size: 7px;
    border-style: hidden;

  
}
#place{
    padding-left: 120%;
    color: rgba(255, 0, 128, 0.952);
    display: inline;
    cursor: pointer;
    font-family: $fontfamily;
    font-size: 11px;
    width: 60%;
    border-style: hidden;
    border-color: orangered;

    
}
#signup{
    color: $mycolor;
    padding-top: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
}
.content{
    box-shadow:  0 10px 10px  5px whitesmoke;
    margin-bottom: 200px;
    border-radius: 10px;
}
button{
    background: $mycolor;
    color: white;
    font-family: $fontfamily;
    border-radius: 5px;
    text-decoration: white;
    height: 29px;
    width: 75px;
    border: rgb(255, 72, 0);
}   
