<div class="container">
    <div class="image">
        <img src="assets/yes-s.png" alt="">
    </div>
    <mat-card class="content">
        <mat-card-content>
            <div>
                <header><h2>Sign Up</h2></header>
            </div>
            <form name="signUpForm"  class="frm1" [formGroup]="sigUpForm">
                <div class="email-input">
                    <mat-form-field  appearance="outline">
                       <div class="row">
                           <div class="col"><input type="text" placeholder="First Name"></div>
                           <div class="col2"><input type="text" placeholder="Last Name"></div>
                           <div class="w-100"></div>
                           <div class="col3"><input type="text" placeholder="Enter email"></div>
                           <div class="col4"><input type="text" placeholder="Enter phone"></div>
                           <div class="w-100"></div>
                           <div class="col5"><input type="text" placeholder="Password"></div>
                           <div class="col6"><input type="text" placeholder="Confirm Password"></div>
                           
                       </div>
                       <div>
                        <button type="submit" id="bb">Submit</button>
                    </div>
                    <div><h3  routerLink="/login" (click)="getActiveTab('login')" [class.active] = "activate === 'login'"><b><</b>login</h3></div>
                </mat-form-field>
            </div>

            </form>
        </mat-card-content>
    </mat-card>
    </div>